header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    position: relative;
}

nav.hide {
    display: none;
    animation: fade 1s ease-in-out;
    animation-delay: 5s;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.logo-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-row i {
    font-size: var(--font-size-46);
    color: var(--red);
}

.logo-row img {
    height: 46px;
    width: 46px;
}

nav i,
nav ul {
    position: absolute;
    border-radius: 20px;
}

nav {
    z-index: 1;
     transition: right 0.5s ease;
}

nav.active {
    right: 0;
}

nav ul {
    top: 0;
    left: -15px;
    width: 80%;
    list-style: none;
    background-color: lightgrey;
    padding: 50px 50px 50px 50px;
}

nav ul li {
    width: 80%;
    display: grid;
    place-items: center;
    padding: 20px 0;
    background-color: rgba(128, 128, 128, 0.158);
    border-bottom: 3px solid var(--white);
    border-radius: 15px;
    margin-bottom: 20px;
    transform: translateX(50px);
    animation: slideIn 0.5s forwards;
}

nav.active ul li:nth-child(1) { animation-delay: 0.1s; }
nav.active ul li:nth-child(2) { animation-delay: 0.2s; }
nav.active ul li:nth-child(3) { animation-delay: 0.3s; }
nav.active ul li:nth-child(4) { animation-delay: 0.4s; }
nav.active ul li:nth-child(5) { animation-delay: 0.5s; }


@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

nav i {
    font-size: var(--font-size-46);
    color: var(--red);
    top: 20px;
    right: 30%;
    z-index: 1;
}

.hero {
    width: 100%;
    /* max-width: 767px; */
    object-fit: cover;
}

.hero img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width:768px) {

    .logo-row i,
    nav .hide {
        display: none;
    }

    .logo-row {
        width: unset;
    }

    nav {
        position: unset;
        display: block !important;
    }

    nav ul li,
    nav ul {
        all: unset;
    }

    nav ul {
        display: flex;
        align-items: center;
        column-gap: 30px;
    }

    button {
        padding: 10px;
        background: var(--red);
        border-radius: 8px;
        color: var(--white);
    }

    .hero {
        width: 100%;
    }

}