.heading {
    width: 90%;
}

.container {
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;

}

.story-parent {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
}

.heading span {
    font-size: var(--font-size-46);
    font-weight: var(--font-weight-600);
    text-align: center;
    line-height: var(--line-height);
}

.story-img {
    width: 90%;
    object-fit: cover;
    position: relative;
}

.story-img .story1 {
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
}

.story-img .story2 {
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    margin: auto;
    width: 50%;
    max-width: 500px;
    border: 6px solid var(--white);
    border-radius: 20px;
}

.story-data {
    width: 90%;
}

.story-data p {
    text-align: justify;
    margin-bottom: 20px;
    font-size: var(--font-size-15);
    font-weight: var(--font-weight-500);
    line-height: var(--line-height-22);
}

.know-more {
    padding: 13px 20px;
    background: var(--red);
    color: var(--white);
    font-weight: var(--font-weight-500);
    border-radius: 8px;
    margin-bottom: 20px;
}

@media screen and (min-width:768px) {
    .container {
        align-items: center;
        row-gap: 40px;
    }

    .heading {
        text-align: center;
    }

    .story-data {
        width: 60%;
    }

    .story-img {
        width: 35%;
    }

    .story-parent {
        width: 90%;
        align-items: start;
        flex-direction: row;
        justify-content: space-between;
    }

    .story-img .story2 {
        margin: unset;
        left: -25px;
        width: 200px;
    }
}