
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("root.css");
@import url("header&herobanner.css");
@import url("story.css");
@import url("gallary.css");
@import url("review.css");
@import url("media&footer.css");